<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный дневник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Личный дневник</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/add">Новая запись</a>
        </nav>
        <form action="/search" method="GET">
            <input type="text" name="q" placeholder="Поиск..." required>
            <button type="submit">Найти</button>
        </form>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Автор: Динисламов Ильяс и Мингазов Альмир</p>
    </footer>
</body>
</html>